span.jenkinsfailed {
    background-color: #ff9191;
    color: white;
    padding: 0.4em;
    vertical-align: middle;
}
div.jenkins-wrapper {
    background-color: #eeeeee;
    padding: 1em;
}
div.jenkins-head {
    font-size: 1.2em;
    padding-bottom: .5em;
    vertical-align: middle;
}
span.jenkins-icon {
    padding-right: .5em;
}
img.jenkins-icon {
    height: 1.5em;
}
span.jenkins-head-right {
    float: right;
}
img.jenkins-artifact-preview {
    border: 1px solid grey;
    background-color: white;
}
img.jenkins-artifact-preview-scaled {
    max-width: 30px;
    max-height: 30px;
}